<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Flipkart Automation Test Suite" verbose="1">
	<listeners>
		<listener
			class-name="com.qa.flipkart.reportGenerator.ReportGenerator"></listener>
	</listeners>

	<test name="Test">
		<classes>
			<class name="com.qa.flipkart.test.TestRunner"/>	
		</classes>
	</test> <!-- Test -->
	
</suite> <!-- Suite -->
